@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    color: #fff;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    font-size: 15px;
}


/*flex*/

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*container-fluid*/

.container-fluid {
    align-items: normal;
    justify-content: space-between;
}


/*highlight*/

.highlight {
    text-decoration: underline;
    color: yellow;
}


/*menu-bar*/

#menu {
    display: none;
}


/*sidebar*/

.sidebar {
    width: 30%;
    height: 100%;
    background-color: #1a1a1a;
    text-align: center;
    position: fixed;
    padding: 0.5rem 0;
    align-content: center;
}

.sidebar .my-image img {
    width: 40%;
    border-radius: 100%;
    border: 2px solid yellow;
}

.sidebar .my-image h2 {
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.sidebar .my-image h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0;
}

.sidebar nav {
    width: 100%;
}

.sidebar nav ul {
    margin-top: 0;
    padding-left: 0;
}

.sidebar nav ul li {
    list-style: none;
    margin-top: 1.2rem;
    width: 70%;
    height: 8vh;
    background-color: #000;
    border-radius: 50px;
    font-size: 1rem;
}

.sidebar nav ul li a {
    color: #fff;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.sidebar nav ul li a:hover {
    cursor: pointer;
    background-color: yellow;
    color: #000;
}


/*container*/

.container {
    width: 70%;
    position: absolute;
    right: 0;
    padding-left: 10rem;
    padding-right: 2rem;
}


/*intro-section*/

.intro-section {
    width: 100%;
    padding: 10rem 0;
}

.intro-section h3 {
    font-size: 1.6rem;
}

.intro-section h1 {
    font-size: 3rem;
}

.intro-section span {
    text-transform: capitalize;
    color: yellow;
    font-size: 4.5rem;
}

.btn {
    width: 100px;
    height: 30px;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: #333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1rem;
    transition: all .4s ease-in-out;
}

.intro-section .fa-user {
    font-size: 1rem;
    color: #fff;
    padding-left: 0.2vw;
}

.btn:hover {
    color: #000;
    background-color: yellow;
    border: none;
}


/*about-section*/

.about-section,
.my-skills,
.my-projects,
.contact-me {
    padding: 10rem 0;
}

.about-section h2,
.my-skills h2,
.my-projects h2,
.contact-me h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.about-section hr,
.my-skills hr,
.my-projects hr,
.contact-me hr {
    margin-bottom: 2rem;
    border: 1px solid #333;
}

.about-section h3 {
    font-size: 1.8rem;
    margin: 2rem 0;
}

.about-section p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.cv-btn {
    width: 120px;
    height: 35px;
    background: none;
    border: 2px solid #1a1a1a;
}


/*my-skills*/

.my-skills .skills {
    justify-content: space-between;
}

.my-skills .skills .skill {
    width: 30%;
    background-color: #fff;
    height: 18vw;
    border-radius: 10px;
    margin-top: 2rem;
    text-align: center;
}

.my-skills .skills .skill img {
    transition: all .4s ease-in-out;
}

.my-skills .skills .skill img:hover {
    transform: rotate(360deg);
}

.my-skills .skills .text {
    width: 65%;
    line-height: 2.8rem;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: flex-start;
}

.my-skills .skills .text h3 {
    text-align: left;
}

.github-btn {
    height: 35px;
    background: none;
    border: none;
    border-radius: 0%;
    border-left: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
}


/*my-projects*/

.my-projects .projects {
    justify-content: space-between;
}

.my-projects .projects .project {
    width: 47%;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}

.my-projects .projects .project img {
    height: 26vw;
    transition: all .4s ease-in-out;
}

.my-projects .projects .project img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.my-projects .projects .project .description {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: #1a1a1a;
    line-height: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.my-projects .projects .project .description h4 {
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
    color: yellow;
}

.my-projects .projects .project .description ul li {
    font-size: 0.9rem;
    list-style: none;
}

.live-view-btn {
    width: 75px;
    font-size: 0.9rem;
    border-radius: 0%;
    margin-top: 0.5rem;
}


/*contact-me*/

.contact-me .my-location {
    justify-content: space-between;
}

.contact-me .my-location .contact-info {
    margin-top: 2rem;
    width: 49%;
}

.contact-me .my-location .contact-info h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.contact-me .my-location .contact-info .contact-option {
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.contact-me .my-location .contact-info span {
    font-size: 1.4rem;
}

.contact-me .my-location .contact-info i {
    color: yellow;
    font-size: 1.4rem;
    width: 6%;
    text-align: center;
    margin-right: 1rem;
}

.contact-me .my-location .map {
    width: 49%;
}


/*footer*/

footer {
    padding-bottom: 2rem;
    line-height: 3.4rem;
    font-size: 1.4rem;
    text-align: center;
}

footer span {
    font-size: 2.4rem;
    margin-right: 0.5rem;
}

footer i {
    margin: 0 0.4rem;
}

footer .notice {
    color: gray;
}


/*scroll-top*/

.scroll-top {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
}


/*media-query*/

@media (max-width:1200px) {
    .contact-me .my-location .map iframe {
        height: 250px;
    }
}

@media (max-width:950px) {
    .contact-me .my-location .map iframe {
        height: 200px;
    }
}

@media (max-width:1069px) {
    html {
        font-size: 12px;
    }
}

@media (max-width:855px) {
    html {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    /*menu-bar*/
    #menu {
        width: 4vw;
        height: 0.7vw;
        display: block;
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 2;
    }
    #menu .bar {
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all .3s ease-in-out;
    }
    #bar-1 {
        transform: translateY(-0.7vw);
    }
    #bar-3 {
        transform: translateY(0.7vw);
    }
    /*sidebar*/
    .sidebar {
        width: 100%;
        z-index: 1;
        display: none;
        padding-top: 7rem;
    }
    .sidebar .my-image img {
        width: 15%;
    }
    .sidebar .my-image h3 {
        margin-top: 0.5rem;
    }
    .sidebar nav {
        width: 30%;
        margin: 2rem auto;
    }
    .sidebar nav ul li {
        width: 100%;
        margin-top: 1rem;
    }
    .icon #bar-1 {
        transform: translateY(0.9vw) rotate(45deg);
    }
    .icon #bar-3 {
        transform: translateY(-0.5vw) rotate(-45deg);
    }
    .icon #bar-2 {
        opacity: 0;
    }
    .change {
        display: block;
        transition: all 10s linear;
    }
    /*container*/
    .container {
        width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /*my-skills*/
    .my-skills .skills,
    .my-projects .projects {
        justify-content: center;
    }
    .my-skills .skills .skill {
        width: 51%;
        height: 45vw;
        margin-top: 5rem;
    }
    .my-skills .skills .text {
        width: 100%;
        align-items: center;
        margin-top: 3rem;
    }
    /*my-projects*/
    .my-projects .projects .project {
        width: 51%;
        margin-top: 5rem;
    }
    .my-projects .projects .project img {
        height: 45vw;
    }
    /*contact-me*/
    .contact-me .my-location .contact-info,
    .contact-me .my-location .map {
        width: 100%;
    }
    .contact-me .my-location .map {
        margin-top: 3rem;
    }
}

@media (max-width:600px) {
    .sidebar .my-image img {
        width: 20%;
    }
    .sidebar nav {
        width: 40%;
    }
    .sidebar nav ul li {
        margin-top: 1rem;
    }
    .live-view-btn {
        width: 50px;
        height: 20px;
    }
}

@media (max-width:500px) {
    .sidebar .my-image img {
        width: 25%;
    }
    .my-projects .projects .project .description {
        line-height: 1rem;
    }
    .my-projects .projects .project .description h4 {
        font-size: 1rem;
    }
    .my-projects .projects .project .description ul li {
        font-size: 0.7rem;
    }
    .live-view-btn {
        width: 50px;
        height: 15px;
        font-size: 0.7rem;
    }
}

@media (max-width:360px) {
    html {
        font-size: 6px;
    }
    .btn {
        width: 70px;
        height: 20px;
    }
    .live-view-btn {
        width: 30px;
        height: 12px;
    }
    .sidebar .my-image img {
        width: 30%;
    }
    .sidebar nav {
        width: 45%;
    }
}